@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: Sexy-Beachy;
    src: url(https://dl.dropbox.com/scl/fi/pczxq3u9qq5mng8a7n2zw/Sexy-Beachy.otf?rlkey=4jh7umnkz2n1zhdg755wt37gy&);
}

:root {
    --accent: hsl(267, 42%, 80%);
    --accent2: hsl(267, 42%, 43%);
    --bckgrnd: hsl(274, 22%, 13%);
    --bckgrnd2: hsl(276, 22%, 25%);

    --img: url(https://i.imgur.com/uyfcuJf.png);
    --family: Sexy-Beachy;
    --ff: 35px;

    --bg-img-p: #000;
    --bg-img-s: #000018;

    --shadow: #000;
    --borders: rgba(181, 181, 181, 0.2);

    --size-nav: 58px;
    --w-nav: 145px;
    --corners: 8px;

    --dix:'Dix';
    --codember: 'Codember';
    --d3:'2023';
    --d4:'2024';
    --comi: 'Comisión';
    --re: 'Rework';
    --luh: 'Luxury Couture';

    --tuto: 'Tutorial';
    --c-tuto: #FC6AA8;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--bckgrnd);
    color: #eee;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    padding: 10px 15px 10px 25px;
    box-sizing: border-box;
    background-color: var(--bckgrnd2);
    background-blend-mode: exclusion;
    background-image: var(--img);
    background-size: cover;
    background-position: 100% 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    text-shadow: 0 0 2px var(--shadow);
}

nav > span {
    font-size: var(--ff);
    font-family: var(--family)
}
.datos {
    display: flex;
    gap: 20px;
}

.datos div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.datos div span[t] {
    font-size: 20px;
    font-weight: bold;
}

.datos div span[s] {
    font-size: 12px;
    text-transform: uppercase;
}

.container {
    display: flex;
    margin-top: var(--size-nav);
    height: calc(100% - var(--size-nav));
}

/* Barra lateral */
.sidebar {
    width: fit-content;
    height: 100vh;
    margin-top: 8px;
    background-color: var(--bckgrnd);
    border-right: 1px solid var(--borders);
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.sidebar div:nth-of-type(1) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.sidebar div:nth-of-type(1) label {
    flex-grow: 1;
}

.sidebar div {
    border-bottom: 1px solid var(--borders);
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.sidebar div label {
    padding: 6px 8px 5px 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: var(--accent);
    cursor: pointer;
}

.sidebar div label:hover {
    background-color: var(--accent);
    color: var(--bckgrnd);
}

#vip:checked~.sidebar div label[for="vip"],
#tuto:checked~.sidebar div label[for="tuto"],
#ccc:checked~.sidebar div label[for="ccc"],
#codember:checked~.sidebar div label[for="codember"],
#admin:checked~.sidebar div label[for="admin"],
#ficha:checked~.sidebar div label[for="ficha"],
#post:checked~.sidebar div label[for="post"],
#firma:checked~.sidebar div label[for="firma"],
#rela:checked~.sidebar div label[for="rela"],
#chrono:checked~.sidebar div label[for="chrono"],
#busq:checked~.sidebar div label[for="busq"],
#baul:checked~.sidebar div label[for="baul"],
#cellphone:checked~.sidebar div label[for="cellphone"],
#msn:checked~.sidebar div label[for="msn"],
#voice:checked~.sidebar div label[for="voice"],
#social:checked~.sidebar div label[for="social"],
#play:checked~.sidebar div label[for="play"],
#tech:checked~.sidebar div label[for="tech"],
#pack:checked~.sidebar div label[for="pack"],
#comm:checked~.sidebar div label[for="comm"],
#others:checked~.sidebar div label[for="others"],
#skins:checked~.sidebar div label[for="skins"] {
    background-color: var(--accent2);
    color: currentColor;
    font-weight: bold;
}

.contenido {
    flex-grow: 1;
    height: calc(100vh - var(--size-nav));
    margin-left: var(--w-nav);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cuerpo {
    padding: 10px 0;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px 40px;
    scrollbar-color: var(--accent2) transparent;
    scrollbar-width: thin;
}

/* filtros IMPORTANTE NO TOCAR SOLO SI ES DEMASIADO IMPORTANTE */
#vip:checked~.contenido .cuerpo .item:not(.vip),
#tuto:checked~.contenido .cuerpo .item:not(.tuto),
#ccc:checked~.contenido .cuerpo .item:not(.ccc),
#codember:checked~.contenido .cuerpo .item:not(.code),
#admin:checked~.contenido .cuerpo .item:not(.admin),
#ficha:checked~.contenido .cuerpo .item:not(.ficha),
#post:checked~.contenido .cuerpo .item:not(.post),
#firma:checked~.contenido .cuerpo .item:not(.firma),
#rela:checked~.contenido .cuerpo .item:not(.rela),
#chrono:checked~.contenido .cuerpo .item:not(.chrono),
#busq:checked~.contenido .cuerpo .item:not(.busq),
#baul:checked~.contenido .cuerpo .item:not(.baul),
#cellphone:checked~.contenido .cuerpo .item:not(.cellphone),
#msn:checked~.contenido .cuerpo .item:not(.msn),
#voice:checked~.contenido .cuerpo .item:not(.voice),
#social:checked~.contenido .cuerpo .item:not(.social),
#play:checked~.contenido .cuerpo .item:not(.play),
#tech:checked~.contenido .cuerpo .item:not(.tech),
#pack:checked~.contenido .cuerpo .item:not(.pack),
#comm:checked~.contenido .cuerpo .item:not(.comm),
#others:checked~.contenido .cuerpo .item:not(.others),
#skins:checked~.contenido .cuerpo .item:not(.skins),
input {
    display: none;
    transition: 2s;
}

/* Elementos */
.item {
    --size: 230px;
    width: var(--size);
    height: var(--size);
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.item.tuto {
    border: 2px solid var(--c-tuto);
    box-sizing: border-box;
}

/************************************************************ Detalles especiales decorativos segun item*/

.item.code::before,
.item.dix::before {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent);
    font-size: 20px;
    opacity: .3;
    transform: rotate(2deg);
}

.item.dix::before {content: var(--dix);}
/* codember 2023 */
.item.code::before {content: var(--d3);}
/* Codember 2024 */
.item.code2::before {content: var(--d4);}


.item.tuto::after,
.item.luh::after,
.item.rew::after,
.item.code::after,
.item.comm::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    color: var(--accent);
    opacity: .3;
    transform: rotate(-2deg);
}

.item.comm::after {content: var(--comi);}
.item.code::after {content: var(--codember);}
.item.rew::after {content: var(--re);}

/* Luxury Couture */
.item.luh::after {content: var(--luh); font-size: 14px;}

.item.tuto::after {content: var(--tuto);
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
left: 5px;
bottom: 2px;
color: var(--c-tuto);}


/******************************************************** Fin Detalles especiales decorativos segun item*/

.item.black > img {
    background-color: var(--bg-img-p);
}

.item.mity > img {
    background-image: linear-gradient(to left, white 50%, #000018 50%)
}

.item > video,
.item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--bg-img-s);
}

.item > a {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: currentColor;
}

/* Para 4 imagenes */
.item > div {
    display: flex;
    flex-wrap: wrap;
}

.item > div > img{
    flex-grow: 1;
    width: 50%;
    height: 95px;
    object-fit: contain;
    background-color: var(--bg-img-s);
}

.item.black > div > img {
    background-color: var(--bg-img-p);
}

/* Para 2 imagenes */
.item > div.dos > img{
    width: 100%;
    height: 95px;
}

.creditos {
    padding-top: 15px;
    border-top: 1px solid var(--borders);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.creditos > a {
    padding: 2px 15px;
    box-sizing: border-box;
    border-radius: var(--corners);
    background-color: var(--accent2);
    text-decoration: none;
    color: currentColor;
}

.creditos a:hover {
    background-color: var(--accent);
    color: var(--accent2);
}

.creditos > span {
    font-size: 12px;
}

.creditos > span a{
    margin: 0 3px;
    padding: 2px 7px;
    box-sizing: border-box;
    border-radius: var(--corners);
    background-color: var(--accent2);
    text-decoration: none;
    color: currentColor;
}


.tmblr-iframe-compact .tmblr-iframe--unified-controls {
    display: none;
}


body.graphics {
    --accent: hsl(330, 41%, 80%);
    --accent2: hsl(330, 42%, 43%);
    --bckgrnd: hsl(344, 22%, 13%);
    --bckgrnd2: hsl(344, 22%, 25%);
    --img: url(https://i.imgur.com/0rCzU1r.jpg);

    --template: 'Template';
    --art: 'Art';
    --comi: 'Comisión';
}

.graphics nav {
    background-position: 100% 12%;
}


#templates:checked~.sidebar label[for="templates"],
#art:checked~.sidebar label[for="art"],
#comi:checked~.sidebar label[for="comi"] {
    background-color: var(--accent2);
    color: currentColor;
    font-weight: bold;
}

.graphics .sidebar label {
    padding: 8px 20px 8px 15px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: var(--accent);
    cursor: pointer;
}

.sidebar label:hover {
    background-color: var(--accent);
    color: var(--bckgrnd);
}

#comi:checked~.contenido .cuerpo .item:not(.comi),
#art:checked~.contenido .cuerpo .item:not(.art),
#template:checked~.contenido .cuerpo .item:not(.template),
input {
    display: none;
    transition: 2s;
}

.graphics .item {
    height: 262px;
    background-color: var(--accent2);
}

.graphics .item > img {
    background-color: var(--accent2);
}

.item.template::after,
.item.art::after,
.item.comi::after {
    position: absolute;
    bottom: 6px;
    left: 5px;
    font-size: 12px;
    color: var(--accent);
    opacity: .5;
    transform: rotate(-2deg);
    text-transform: uppercase;
}

.item.template::after {content: var(--template);}
.item.comi::after {content: var(--comi);}
.item.art::after {content: var(--art);}

